{% extends './layout.html' %}

{% block tittle %} Login {% endblock %}

{%block links_head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/error.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{%endblock%}

{% block nav_list %} 
<li class="head__enlace"><a href="{{url_for('temas')}}">Temas</a></li>
<li class="head__enlace"><a href="#">Sobre</a></li>
<li class="head__enlace"><a href="#">Contacto</a></li>
<li class="head__enlace boton__header"><a href="#">Iniciar Sesión</a></li>

{% endblock %}

{% block body_content %}
<form class="formulario__login" action="/login" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="formulario__login__contenido">
        <img class="imagen__login" src="../../static/img/logoBw.svg" alt="Logo" width="72">
        <h1 class="formulario__login__titulo">Iniciar sesión</h1>
        <label for="user" class="formulario__login__emailaddress">Usuario</label>
        <input type="text" id="user" name="user" class="formulario__login__texto__emailaddress" placeholder="Usuario" minlength="4" maxlength="20" autofocus>
        <label for="password" class="formulario__login__password">Contraseña</label>
        <input type="password" id="password" name="password" class="formulario__login__texto__password" placeholder="Contraseña" minlength="5" required>
        <div class="formulario__login__div">
            <label class="formulario__login__div__rememberme">
                <input type="checkbox" value="remember-me"> Recuérdame
            </label>
        </div>
        {{ form.csrf_token }}
        <button class="formulario__login__boton boton" type="submit">Iniciar Sesión</button>
        <p class="formulario__login__div__copy">&#169; 2023 SkyCast. Todos los derechos Reservados.</p>
    </div>
</form>




{%endblock%}
{%block footer_content%}
    <li class="footer__media_li"><a href="#" class="footer__media"><img src="../static/img/linkedin-icon.png" alt="Icono LinkedIn" class="footer__media__img"></a></li>
    <li class="footer__media_li"><a href="#" class="footer__media"><img src="../static/img/university-icon.png" alt="Icono Universidad" class="footer__media__img"></a></li>
    <li class="footer__media_li"><a href="#" class="footer__media"><img src="../static/img/github-Icon.png" alt="Icono Github" class="footer__media__img"></a></li>
{%endblock%}

{% block customJS %}
<script src="{{url_for('static', filename='../../../../static/js/auth/login.js')}}"></script>
{%endblock%}