{% extends './layout.html' %}

{% block tittle %} 404 {% endblock %}
{%block links_head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/error.css')}}">
{%endblock%}

{% block nav_list %} 
<li class="head__enlace"><a href="{{url_for('temas')}}">Temas</a></li>
<li class="head__enlace"><a href="#">Sobre</a></li>
<li class="head__enlace"><a href="#">Contacto</a></li>
<li class="head__enlace boton__header"><a href="{{url_for('login')}}">Iniciar Sesión</a></li>

{% endblock %}

{% block body_content %}
    <section class="titulo_principal">
        <h1 class="texto_error_principal">Disculpe, Pagina no encontrada, Vuelve a intentarlo</h1>
    </section>
{%endblock%}
{%block footer_content%}
    <li class="footer__media_li"><a href="#" class="footer__media"><img src="../static/img/linkedin-icon.png" alt="Icono LinkedIn" class="footer__media__img"></a></li>
    <li class="footer__media_li"><a href="#" class="footer__media"><img src="../static/img/university-icon.png" alt="Icono Universidad" class="footer__media__img"></a></li>
    <li class="footer__media_li"><a href="#" class="footer__media"><img src="../static/img/github-Icon.png" alt="Icono Github" class="footer__media__img"></a></li>
{%endblock%}

{% block customJS %}{%endblock%}