.formulario__registro{
    background-color: var(--background-negro);
    display: flex;
    padding: 9.25rem 3rem 5.25rem 3rem;
    flex-direction: column;
    color: var(--background-blanco);
    align-items: center;
    justify-content: center;
    
}
.formulario__registro__contenido{
    background-color: var(--background-home-nav-footer);
    justify-content: center;
    height: 80vh;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 0 15px var(--fuente-azul-oscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen__registro{
    width: 50vw;
}
.formulario__registro__titulo{
    color: white;
    padding: 1rem;
}
.formulario__registro__sub{
    color: white;
    margin: 0.5rem;    
}
.formulario__registro__caja{
    color: var(--fuente-azul-oscuro);
    font-family: var(--sirin-stencil);
    font-weight: 400;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
}

.formulario__registro__texto__caja{
    text-align: center;
    display: block;
    width: 90%;
    max-width: 530px;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border: 2.5px solid var(--fuente-azul-oscuro);
    background-color: var(--background-blanco);
    color: var(--background-negro);
    border-radius: 5px;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    margin: 1.5rem;
}

.formulario__registro__div__copy{
    font-size: 0.6rem;
    color: white;
    font-family: var(--spline-sans);
    font-weight: 300;
    padding-top: 1rem;
}
.formulario__registro__boton{
    font-size: 1rem;
}
.boton{
    margin: .5rem;
}




@media screen and (max-width: 768px) {
    .formulario__registro__contenido {
        width: 100vw; 
    }
}

@media screen and (max-width: 1024px) {
    .formulario__registro__contenido {
        width: 100vw; 
    }
}