<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tittle %} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bases.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:wght@300;400;700&family=Old+Standard+TT:wght@400;700&family=Open+Sans:wght@300;400;700&family=Sirin+Stencil&family=Spline+Sans+Mono:wght@300;400;700&family=Spline+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/img/logoIcon.png" type="image/x-icon">
    {%block links_head%}{%endblock%}
</head>
<body>
    <header class="head container">
        <a href="{{url_for('index')}}"><img src="../static/img/logoBw.svg" alt="Logo de SkyCast" class="head__logo"></a>
        <nav class="head__navigation">
            <img src="../static/img/nav-icon.svg" alt="icono de navegación" class="movil-menu-icon">
            <ul class="head__navigation_ul">{% block nav_list %} {% endblock %}</ul>
        </nav>
    </header>
    <main>
        {%block body_content%}{%endblock%}

        <footer class="footer container">
            <nav class="footer__nav">
                <div class="navigation_div">
                    <h3 class="div__navigation__titulo">Explora</h3>
                    <ul class="footer_navigation_lista">
                        <li class="footer__enlace"><a href="#">SES</a></li>
                        <li class="footer__enlace"><a href="#">Winters</a></li>
                        <li class="footer__enlace"><a href="#">ARMA</a></li>
                    </ul>
                </div>
                <div class="navigation_div">
                    <h3 class="div__navigation__titulo">Links Rapidos</h3>
                    <ul class="footer_navigation_lista">
                        <li class="footer__enlace"><a href="#">Registro</a></li>
                        <li class="footer__enlace"><a href="#">Iniciar Sesión</a></li>
                        <li class="footer__enlace"><a href="#">Contacto</a></li>
                    </ul>
                </div>
                <div class="navigation_div">
                    <h3 class="div__navigation__titulo">Soporte</h3>
                    <ul class="footer_navigation_lista">
                        <li class="footer__enlace"><a href="#">Preguntas Frecuentes</a></li>
                        <li class="footer__enlace"><a href="#">Condiciones</a></li>
                        <li class="footer__enlace"><a href="#">Privacidad</a></li>
                    </ul>
                </div>
            </nav>
            <div class="div__social__copy">
                <div class="footer__div__social">
                    <ul class="footer__social">
                        {%block footer_content%}{%endblock%}
                    </ul>
                </div>
                <div class="footer__copy">
                    <p>&#169; 2023 SkyCast. Todos los derechos reservados.</p>
                </div>
            </div>
        </footer>
    </main>
    {% block customJS %}{%endblock%}
</body>
</html>