{% extends './layout.html' %}

{% block tittle %} Temas {% endblock %}
{%block links_head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/temas.css')}}">
{%endblock%}

{% block nav_list %} 

{% if current_user.tipo_usuario_id.id == 1 %}
<li class="head__enlace"><a href="{{url_for('listar_docentes')}}">Docentes</a></li>
<li class="head__enlace"><a href="{{url_for('listar_estudiantes')}}">Estudiantes</a></li>
{% endif %}

{% if current_user.tipo_usuario_id.id == 2 %}
<li class="head__enlace"><a href="{{url_for('listar_grupos')}}">Grupos</a></li>
<li class="head__enlace"><a href="{{url_for('listar_estudiantes')}}">Estudiantes</a></li>
{% endif %}

{% if current_user.tipo_usuario_id.id == 3 %}
<li class="head__enlace"><a href="{{url_for('listar_notas')}}">Notas</a></li>
<li class="head__enlace"><a href="{{url_for('modelo_uno')}}">Simple</a></li>
<li class="head__enlace"><a href="{{url_for('modelo_dos')}}">Winters</a></li>
<li class="head__enlace"><a href="{{url_for('modelo_tres')}}">Arma</a></li>
{% endif %}
<li class="head__enlace"><a href="{{url_for('temas')}}">Temas</a></li>
<li class="head__enlace"><a href="{{url_for('contacto')}}">Contacto</a></li>
<li class="head__enlace boton__header"><a href="{{url_for('login')}}">{{ current_user.nombre_usuario }}</a></li>
<li class="head__enlace"><a href="{{url_for('logout')}}">Logout</a></li>

{% endblock %}

{% block body_content %}
    <section class=" lista__prueba container">
        <ul class="lista__prueba__ul">
            {% if pronosticos|length > 0 %}
            {% for pron, descrip in pronosticos.items() %}
            <li class="lista__prueba__vista">{{pron}} -> {{descrip}}</li>
            {% endfor %}
            {% else %}
            <li class="lista__prueba__vista">La lista esta vacía</li>
            {% endif %}
        </ul>
    </section>
    <section class="datos__por__get">
        <h2 class="valor__recibido__get">{{valor}}</h2>
    </section>
{%endblock%}
{%block footer_content%}
    <li class="footer__enlace"><a href="#">Registro</a></li>
    <li class="footer__enlace"><a href="#">Iniciar Sesión</a></li>
    <li class="footer__enlace"><a href="#">Contacto</a></li>
{%endblock%}
{% block customJS %}{%endblock%}